In [2]:
ls

26期AcM部_獲得会員リスト.xlsx
GPR/
Private/
acm.ipynb
acm.xlsx
~$26期AcM部_獲得会員リスト.xlsx
~$acm.xlsx
~$【26下期】物件増_受失注シート.xlsx
【26下期】物件増_受失注シート.xlsx
賃貸/
異常検知/
ガウス過程/

In [11]:
import pandas as pd

In [12]:
df=pd.read_excel("acm.xlsx")
df.head()

   計上日  HOME'S ID    担当名                   社名    賃貸    賃売
0  11月   140939.0  秋元 雄斗      株式会社ROOTS 清澄白河店  掲載課金    賃貸
1  11月   140940.0  秋元 雄斗        株式会社ROOTS　菊川店  掲載課金    賃貸
2  11月   140941.0  秋元 雄斗        株式会社ROOTS　両国店  掲載課金    賃貸
3  11月   140983.0  秋元 雄斗     株式会社タウンハウジング 大和店     -  店舗追加
4  11月  3103803.0  秋元 雄斗  株式会社レンタルハウス関西 岸里駅前店  反響課金    賃貸

In [15]:
gb=df.groupby("計上日").count()["HOME'S ID"]
gb

計上日
11月    78
12月    75
1月     64
2月     78
3月     72
4月     88
5月     51
Name: HOME'S ID, dtype: int64

In [16]:
gb.to_csv("asm.csv")