In [1]:
import pandas as pd
df=pd.read_excel("ch.xlsx")
df.head()

       ID                            会員名  プラン   見込料率  見込U物件増  掲載開始時期 握り掲載数
0  127445    株式会社オーリック不動産　エイブルネットワーク天文館店  その他  0.075      74   43891   230
1  127446  株式会社オーリック不動産　エイブルネットワーク姶良加治木店  その他  0.075       0   43891    77
2  127448     株式会社オーリック不動産　エイブルネットワーク鹿屋店  その他  0.075      33   43891   330
3  127451   株式会社オーリック不動産　エイブルネットワーク国分霧島店  その他  0.075       1   43891   500
4  127452     株式会社オーリック不動産　エイブルネットワーク谷山店  その他  0.075      27   43891   350

In [2]:
def excel_date(num):
    from datetime import datetime, timedelta
    return(datetime(1899, 12, 30) + timedelta(days=num))

In [3]:
df["掲載開始時期"]=df["掲載開始時期"].apply(excel_date)

In [9]:
type(df["掲載開始時期"].values[1])

numpy.datetime64

In [12]:
#pd.DatetimeIndex
df["掲載開始月"]=pd.DatetimeIndex(df["掲載開始時期"]).month

In [13]:
df.head()

,ID,会員名,プラン,見込料率,見込U物件増,掲載開始時期,握り掲載数,掲載開始月
0,127445,株式会社オーリック不動産 エイブルネットワーク天文館店,その他,0.075,74,2020-03-01,230,3
1,127446,株式会社オーリック不動産 エイブルネットワーク姶良加治木店,その他,0.075,0,2020-03-01,77,3
2,127448,株式会社オーリック不動産 エイブルネットワーク鹿屋店,その他,0.075,33,2020-03-01,330,3
3,127451,株式会社オーリック不動産 エイブルネットワーク国分霧島店,その他,0.075,1,2020-03-01,500,3
4,127452,株式会社オーリック不動産 エイブルネットワーク谷山店,その他,0.075,27,2020-03-01,350,3

In [23]:
ids=df.groupby("掲載開始月").count()["ID"]
ids

掲載開始月
1    309
2    144
3    241
4    586
5    126
6    200
7      9
Name: ID, dtype: int64

In [24]:
ids.to_csv("ch_id.csv")

In [18]:
ids=df.groupby("掲載開始月").count()["会員名"]
ids

掲載開始月
1    309
2    144
3    241
4    586
5    126
6    200
7      9
Name: 会員名, dtype: int64

In [25]:
b=df.groupby("掲載開始月").sum()["見込U物件増"]
b

掲載開始月
1     4055
2    43494
3    17756
4    15005
5     5966
6     2757
7      659
Name: 見込U物件増, dtype: int64

In [26]:
b.to_csv("ch_bnum.csv")